body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 2px;
    background-color: #FFA500; 
    color: #69320b; 
    margin-bottom: 50px; 
}

h1{
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #282725; 
    overflow: hidden;
}

nav a {
    display: block;
    padding: 12px 16px;
    float: left;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #e37f27; 
    color: #FFFFFF;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #69320b;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

img {
    max-width: 200px; 
    max-height: 200px; 
    display: block;
    margin: 0 auto;
}

.small-image {
    max-width: 200px; 
    max-height: 200px; 
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #FFA500;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}