nav {
    background-color: #282725;
    overflow: hidden;
}

nav a {
    display: block;
    padding: 12px 16px;
    float: left;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #FFA500;
 
    color: #FFFFFF;
}
    
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 2px;
    margin-bottom: 50px; 
    color: #69320b; 
}

h2{
    text-align: center;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #FFA500; 
    padding: 20px;
}

p{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1000px;
}

table {
    border-collapse: collapse;
    margin: 0 auto; 
}

td, th {
    border: 1px solid black; 
    padding: 8px;
    text-align: center;
}

body {
    
    background-image: url(https://thumbs.dreamstime.com/b/tiger-emoticon-vector-illustration-set-flat-style-design-144286913.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px; 
     
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #69320b;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px; 
}


img {
    width: 500px; 
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #FFA500;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}