body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 2px;
    background-color: #FFA500; 
    color: #69320b;
    margin-bottom: 50px;  
}



nav {
    background-color: #282725; 
    overflow: hidden;
}

nav a {
    display: block;
    padding: 12px 16px;
    float: left;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #e37f27; 
    color: #FFFFFF;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery img {
    width: 500px; 
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

h1{
    text-align: center;
    padding: 20px;
}


.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #69320b;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px; 
}

footer {
    text-align: center;
    background-color: #FFA500;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}