body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 2px;
    background-color: #FFA500; 
    color: #69320b;
    margin-bottom: 50px; 
   
}

h2{
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none; 
  color: inherit; 
}

header {
    text-align: center;
    background-color: #FFA500; 
    padding: 20px;
}

nav {
    background-color: #282725; 
    overflow: hidden;
}

nav a {
    display: block;
    padding: 12px 16px;
    float: left;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #e37f27; 
    color: #FFFFFF;
}

#caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 350px;
    margin: 10px;
    padding: 10px;
    border: none;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

body {
    background-image: url(https://thumbs.dreamstime.com/b/tiger-emoticon-vector-illustration-set-flat-style-design-144286913.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: #FFA500; 
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #69320b;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px; 
}

img {
    width: 500px; 
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #FFA500;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}